* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-full {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg-auth {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 1000px) {

    .bg-auth {
        display: none;
    }

    .bg-form {
        width: 100vw;
        justify-content: center;
    }
}

.bg-form {
    z-index: 2;
    margin-left: auto;
    display: flex;
}

.form-auth {
    width: 500px;
    max-width: 98vw;
}